.blog {
    background: white;
    width: 96%;
    border-radius: 5px;
    padding: 10px 15px;
    box-shadow: 3px 4px 3px rgba(234, 111, 90,.1);
    text-align: left;
}

.blog_title {
    font-size: 24px;
    font-weight: 600;
    text-align: center;
    line-height: 40px;
    padding-top: 20px;
}

.blog_msg {
    display: flex;
    align-items: center;
    color: #999;
    justify-content: flex-end;
    padding-top: 10px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(234, 111, 90,.2);
    margin-bottom: 20px;
}
.blog_content {
    padding: 0px 10px 20px 10px;
    word-wrap: break-word;
    word-break: break-all;
    overflow: hidden;
}
.box{
    display: flex;
    align-items: center;
    justify-content: center;
    /* margin-left: 30px; */
    padding-right: 20px;
}
.icon4{
    display: inline-block;
    background: url('../img/icon4.png') no-repeat center center;
    width: 20px;
    height: 20px;
    background-size: cover;
    margin-right: 6px;
}
.icon5{
    display: inline-block;
    background: url('../img/icon5.png') no-repeat center center;
    width: 20px;
    height: 20px;
    background-size: cover;
    margin-right: 6px;
}
.send_comment {
    background: #f5f5f5;
    width: 96%;
    border-radius: 5px;
    padding: 10px 15px;
    box-shadow: 3px 4px 3px rgba(234, 111, 90,.1);
    text-align: left;
    margin-top: 50px;
}

.send_comment input {
    width: 300px;
    height: 34px;
    border: 1px solid rgba(234, 111, 90,.5);
    border-radius: 5px;
    padding-left: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
}

.send_comment textarea {
    width: 90%;
    height: 100px;
    border: 1px solid rgba(234, 111, 90,.5);
    padding: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    border-radius: 5px;
}
.send_comment input:focus,.send_comment textarea:focus,.send_comment button:focus{
    border: 1px solid rgba(234, 111, 90,1);
    outline: none;
    
}
.send_comment button {
    width: 100px;
    height: 30px;
    border: 1px solid rgba(234, 111, 90,.5);
    border-radius: 5px;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 14px;
    background: rgba(234, 111, 90,.5);
    cursor: pointer;
    color: #fff;
}

.send_comment button:hover {
    background: rgba(234, 111, 90,1);;
}


.blog_comments {
    width: 100%;
}

.blog_comments_msg {
    margin-top: 20px;
    padding: 10px;
    display: inline-block;
    width: 100%;
    text-align: left;
}

.blog_comment {
    width: 95%;
    background: #d9edf7;
    border: 1px dashed #7ca4c1;
    padding: 10px 10px 20px 10px;
    margin-top: 10px;
    color: #31708f;
    text-align: left;
}

.blog_comment span {
    display: inline-block;
    width: 100%;
    padding-left: 10px;
}

.blog_comment div {
    display: inline-block;
    width: 100%;
    padding-left: 10px;
    margin-top: 10px;
}